PORT=3001

DATABASE_URL="mysql://root:password@localhost:3306/mt_euro_stroi"

DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USER=root
DATABASE_PASSWORD=your_password
DATABASE_NAME=your_database_name

JWT_ACCESS_SECRET=super_secret_key
JWT_ACCESS_EXPIRES_IN=86400

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USER=amartazanov892@gmail.com
MAIL_PASSWORD=rost emyd cmhz hteh
MAIN_FROM=amartazanov892@gmail.com

FRONTEND_URL=http://localhost:3000